<div id="carouselExampleFade" class="carousel slide carousel-fade mb-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleFade" data-slide-to="1"></li>
    <li data-target="#carouselExampleFade" data-slide-to="2"></li>
    <li data-target="#carouselExampleFade" data-slide-to="3"></li>
    <li data-target="#carouselExampleFade" data-slide-to="4"></li>
    <li data-target="#carouselExampleFade" data-slide-to="5"></li>
  </ol>
  
  <!-- Aqui van las imagenes que se iran desplazando en nuestro carrusel -->
  <div class="carousel-inner" style="max-height: 600px;">
    <div class="carousel-item active"  data-interval="3000">
      <img src="./assets/images/1.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="./assets/images/2.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="./assets/images/3.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="./assets/images/4.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="./assets/images/5.png" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="./assets/images/6.webp" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>

  <!-- Aqui iran los botones de anterior y siguiente que nos permitira desplazarnos en las imagenes -->
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </button>
</div>
